.image{
    width: 400px;
    height: 400px;
}

.innerBox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.comments{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    border: 2px solid grey;
    padding: 15px;
}

.space{
    height: 300px;
    margin-top: 200px;
    overflow: auto;
}